// About

#about-content {
  padding: $space3 0;
  p {
    font-size: $font2;
    font-weight: 100;
  }
  span {
    float: left;
    font-size: $font6;
    font-family: $mtgrotesqueextracond;
    line-height: 1;
    margin-right: .5rem;
  }
  .col-4 {
    text-align: center;
    display: flex;
    @include for-size(sm) {
      //text-align: left;
    }
    img {
      margin: auto;
    }
  }
}

.page-template-about {
  .header-left {
      margin-top: $space4;
      padding-bottom: $space3;
      text-align: center;
      @include for-size(md) {
        text-align: left;
        margin-top: 0;
        padding-bottom: $space5;
      }
  }
  .header-right {
    div {
      position: relative;
    }
    img {
      position: absolute;
      top: -125%;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 0;
      height: 175%;
    }
    h2 {
      z-index: 1;
      position: relative;
    }
    // background-image: url('../images/graphics/brackets.svg');
    // background-repeat: no-repeat;
    // background-position: center;
  }
}
