// Blog

.blog {
  .content-area {
    background-color: $orange-extra-light;
  }
  header.site-header {
    border-bottom: 1px solid white;
    box-sizing: content-box;
    #post-nav {
      color: white;
    }
  }
  .page-label {
    display: none;
    @include for-size(md) {
      display: inline-block;
    }
  }
}
.single {
  header.site-header {
    border-bottom: 1px solid white;
  }
}
#first-blog-post {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  background-color: $orange;
  @include for-size(lg) {
    display: block;
    // height: $space13;
  }
  .first-post-content {
    padding: $space7 0 0;
    @include for-size(lg) {
      padding: $space7 0 $space2;
    }
    h1 {
      font-size: $font5;
      @include for-size(md) {
        font-size: $font6;
      }
      @include for-size(lg) {
        font-size: $font7;
      }
    }
    .first-post-title {

    }
    .first-post-divider {
      margin-bottom: $space1;
      div {
        border-bottom: 4px solid $black;
      }
    }
  }
}

#blog-header {
  background-color: $orange;
  height: $space12;
  width: 100%;
  @include for-size(md) {
    height: 50vh;
  }
  &.article-graphic {
    background-size: $space8;
    background-position: center 40%;
    @include for-size(md) {
      //background-size: $space9;
      background-size: 0;
    }
  }
}
#post-title {
  position: relative;
  margin-top: -17.713rem;
  h1 {
    z-index: 1;
    position: relative;
    font-size: $font5;
    @include for-size(sm) {
      font-size: $font6;
    }
    @include for-size(md) {
      font-size: $font7;
    }
  }
  h2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(2px, 2px);
    color: white;
    font-weight: 900;
    z-index: 0;
    font-size: $font5;
    @include for-size(sm) {
      font-size: $font6;
    }
    @include for-size(md) {
      margin-top: 0;
      font-size: $font7;
    }
  }
}
.post-title-wrapper {
  padding: 0;
}
#post-content {
  .row {
    justify-content: center;
  }
  p, h1, h2, h3, h4, h5 {
    width: 100%;
    @include for-size(md) {
      width: 60%;
    }
  }
  img {
    width: 100%;
  }
  p {
    font-size: $font1;
    line-height: 1.4;
    font-weight: 200;
    margin-bottom: $space-4;
    &:last-child {
      margin-bottom: $space4;
    }
  }
  .wp-block-image {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.single-post {
  .page-label {
    display: none;
  }
}

.header-bg {

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  @include for-size(lg) {
    position: absolute;
  }
  .header-bg-image {
    position: relative;
    height: $space10;
    @include for-size(lg) {
      height: 100%;
    }
    path {
      opacity: 0;
      //transition: opacity .001s linear;
    }
    img, svg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
    }
    img.hi-res-image {
      opacity: 0;
      transition: opacity .2s linear;
      &.is-active {
        opacity: 1;
      }
    }
  }
}

#issue-articles {
  padding: $space2 0 0;
  @include for-size(sm) {
    padding: $space4 0 0;
  }
  .issue-article {
    position: relative;
    overflow: hidden;
    margin-bottom: $space-3;
    @include for-size(sm) {
      margin-bottom: $space1;
    }
    .article-link {
      position: absolute;
      right: 0;
      top: 0;
      width: $space2;
      height: $space2;
      transform: translateX(100%);
      transition: all 200ms cubic-bezier(0.070, 1.650, 0.755, 0.985); /* custom */
      transition-timing-function: cubic-bezier(0.070, 1.650, 0.755, 0.985); /* custom */
      svg {
        fill: white;
        width: $space-2;
        height: auto;
      }
    }
    &:hover {
      .article-link {
        transform: translateX(0);
      }
    }
    .article-content {
      padding-top: $space1;
      @include for-size(lg) {
        padding-left: $space2;
        padding-top: 0;
      }
      h2 {
        font-size: $font4;
      }
    }
    .article-image-container {
      position: relative;
      height: 0;
      padding-bottom: 80%;
      .article-image {
        height: 0;
        padding-bottom: 80%;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
      }
      .article-featured-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          -o-object-fit: cover;
          object-fit: cover;
          -o-object-position: center;
          object-position: center;
        }
        &.article-graphic {
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          img {
            position: relative;
            width: 60%;
            height: auto;
            -o-object-fit: scale-down;
            object-fit: scale-down;
          }
        }
      }
    }
  }
}

#past-issues-container {
  padding: $space2 0 $space2;
  margin-top: $space4;
  background-color: white;
  h6 {
    margin-bottom: $space2;
  }
  .past-issue-image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    .past-issue-image-container {
      width: 100%;
      height: 0;
      position: relative;
      display: inline-flex;
      .past-issue-image-content {
        width: 100%;
        padding-bottom: 65%;
        position: relative;
        overflow: hidden;
        .past-issue-image {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transition: transform .2s linear;
          transform: scale(1) rotate(.001deg);
        }
      }
    }
    &:hover {
      .past-issue-image-container {
        .past-issue-image-content {
          .past-issue-image {
            transform: scale(1.05) rotate(.001deg);
          }
        }
      }
    }
  }
  .past-issue-date {
    margin-bottom: $space-3;
  }
}
