// Contact

#becker-locations-page {
  .row {
    margin-left: -$space1;
    margin-right: -$space1;
    margin-bottom: $space4;
    padding-top: $space2;
  }
  .becker-location-container {
    margin-top: 0px;
    @include for-size(md) {
    //  margin-top: auto;
    width: 50%;
    }
    .becker-location {
      height: 100%;
    }
    &.featured {
      // .becker-location {
      //   border: 2px solid $black;
      // }
    }
    .becker-location-info {
      margin-top: $space-2;
      p {
        font-weight: 200;
        margin: 0;
        line-height: 1.6;
      }
      a {
        line-height: 1.6;
        color: $orange;
        font-weight: 200;
      }
    }
  }
}

#contact-form-section, #audit-form-section {
  .phone {
    text-align: center;
    font-size: $font1;
    margin-top: $space1;
    &:hover {
      -webkit-animation: heartBeat 1s;
      animation: heartBeat 1s;
    }
    span {
      margin-left: $space-5;
      a {
        color: black;
      }
    }
  }
  .content {
    .row {
      display: flex;
      align-items: center;
    }
  }
  background-color: $orange;
  .caldera-grid {
    padding-top: $space1;
    padding-bottom: 0;
  }
  .col-6:first-of-type {
    padding: $space2 0 $space2 0!important;
    @include for-size(lg) {
      padding: 0!important;
      border-right: 3px solid black;
    }
  }
  h2 {
    font-family: $acuminprocond;
    font-size: $acumin7;
    font-weight: 900;
    //display: flex;
    text-align: center;
    @include for-size(md) {
    text-align: center;
    margin: auto;
    display: block;
    }
  }
  h3 {
    font-size: $font6;
  }
  .form-title-container {
    width: 100%;
    margin: 0 auto 0 auto;
    @include for-size(md) {
      width: 80%;
    }
    @include for-size(lg) {
      margin: 0 auto 0 20%;
    }
  }
  input[type="text"], input[type="email"], input[type="tel"] {
    border-color: black;
  }
  input[type="submit"] {
    &:hover, &:focus {
      background-color: transparent;
      outline: none;
    }
  }
  textarea {
    background-color: transparent;
    color: black;
    padding: $space-2;
    margin-top: $space1;
    border: 2px dashed black;
    outline: none;
    box-shadow: none;
    font-size: $font1;
    &:focus {
      box-shadow: none;
      border: 2px dashed black;
      outline: none;
    }
    &::placeholder {
      color: black;
      font-weight: 500;
      font-size: $font1;
    }
  }
  input[type="submit"] {
    //background-color: #282827;
    border: 1px solid #282827;
    color: #282827;
    float: right;
    margin-top: $space1;
    padding: $space-3 $space1;
    display: flex;
    text-align: center;
    background: white;
    &:hover, &:focus {
      background: white!important;
      outline: none!important;
      border: 1px solid #282827!important;
    }
  }
}
