.page-template-audit {
  .content-area {
    border-bottom: 4px solid #ffffff;
  }
  #audit-form-section {
    h5 {
      font-size: $font3;
      padding-right: $space-1;
      &:first-child {
        font-size: $font8;
        padding-right: $space-2;
        line-height: 110%;
      }
    }
    .form-left {
      padding: $space1!important;
      display: flex;
      margin: auto;
      padding-left: 0px;
      margin-bottom: $space3;
      border-right: 0px!important;
      @include for-size(md) {
        padding: $space2!important;
        margin-bottom: auto;
      }
      img {
        @include for-size(md) {
          margin-left: $space5!important;
        }
        @include for-size(lg) {
          margin-left: 0!important;
        }
      }
    }
    .col-6:not(.form-left) {
      padding-top: $space1!important;
      padding-bottom: 0;
      @include for-size(md) {
        padding-top: $space2;
        padding-bottom: $space2;
      }
    }
  }
  input[type="submit"] {
    //background-color: #282827;
    border: 1px solid #282827;
    color: #282827;
    float: right;
    margin-top: $space1;
    padding: $space-3 $space1;
    display: flex;
    text-align: center;
    background: white;
    &:hover, &:focus {
      background: white!important;
      outline: none!important;
      border: 1px solid #282827!important;
    }
  }
  .becker-form {
    .row {
      flex-direction: column-reverse;
      .form-title {
        font-size: $font6!important;
        @include for-size(lg) {
          font-size: $font5!important;
        }
        @include for-size(xl) {
          font-size: $font6!important;
        }
        @include for-size(phone-only) {
          font-size: $font5!important;
        }
      }
      @include for-size(md) {
        flex-direction: row;
      }
    }
  }
}
