.site-header {
  z-index: 3;
  height: $space4;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  .becker-back-button {
    width: $space1;
    height: $space1;
    border: 1px solid $gray-dark;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $space-2;
    opacity: .75;
    -webkit-opacity: .75;
    position: fixed;
    @include for-size(md) {
      margin-left: $space-2;
      width: $space1;
      height: $space1;
    }
    //&.hidden {
    //  opacity: .25;
    //  -webkit-opacity: .25;
    //}
    &:hover {
      opacity: 1;
      -webkit-opacity: 1;
    }
    svg {
      width: .4rem;
      height: auto;
      transform: scale(-1, 1);
      position: relative;
      left: -1px;
      @include for-size(md) {
        width: .3rem;
      }
      g {
        fill: $gray-dark;
      }
    }
  }
  #post-nav {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 $space1;
    h6 {
      line-height: 1;
      font-size: $font-2;
    }
    svg {
      width: 4px;
      margin: 0 $space-3;
      g {
        fill: black;
      }
    }
    a {
      line-height: 1;
      font-size: $font-2;
      color: $black;
    }
  }
  #header-content {
    position: fixed;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 2;
    display: flex;
    .site-logo {
      width: $space4;
      height: $space4;
      img {
        width: 60%;
        height: 60%;
      }

    }
    .nav-toggle {
      background-color: $black;
      width: $space4;
      height: $space4;
    }
  }
  #site-navigation-container {
    width: 100%;
    height: 100%;
    background-color: $orange;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    #site-navigation {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .menu-main-menu-container {
        ul {
          list-style-type: none;
          padding: 10vh 0;
          margin: 0;
          position: relative;
          max-height: 80vh;
          height: 80vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @include for-size(sm) {
            // display: block;
            // column-count: 2;
            flex-wrap: wrap;
            flex-direction: row;
            height: auto;
          }
          li {
            padding: .25em 0;
            overflow: hidden;
            @include for-size(sm) {
              width: 50%;
            }
            a {
              color: white;
              text-transform: uppercase;
              font-size: 7em;
              display: block;
              position: relative;
              font-family: $mtgrotesqueextracond;
              transform: translate(-100%, 0) rotate(.001deg);
              transition: all .2s ease-in-out;
              line-height: 1;
              @include for-size(phone-only) {
                font-size: 6em;
              }
              @include for-size(sm) {
                line-height: 1.5;
              }
            }
            &:nth-child(2) {
              a {
                transition-delay: .1s;
                transform: translate(0, -100%) rotate(.001deg);
              }
            }
            &:nth-child(3) {
              a {
                transition-delay: .3s;
                transform: translate(-100%, 0) rotate(.001deg);
              }
            }
            &:nth-child(4) {
              a {
                transition-delay: .2s;
                transform: translate(0, 100%) rotate(.001deg);
              }
            }
            &:nth-child(5) {
              a {
                transition-delay: .4s;
                transform: translate(0, 100%) rotate(.001deg);
              }
            }
            &:nth-child(6) {
              a {
                transform: translate(100%, 0) rotate(.001deg);
              }
            }
          }
        }
      }
      &.is-active {
        .menu-main-menu-container {
          ul {
            li {
              a {
                transform: translate(0,0) rotate(.001deg);
              }
            }
          }
        }
      }
    }
    &.is-active {
      display: block;
    }
  }
}

.page-label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(100vw - (2 * #{$space4}) - (#{$space2} + #{$space-2}));
  height: $space4;
  position: fixed;
  top: 0px;
  left: calc(#{$space1} + #{$space-2});
  z-index: 2;
  text-align: center;
  overflow: hidden;
  @include for-size(md) {
    display: inline-block;
    width: 100vh;
    height: auto;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
    left: $space-2;
  }
  .page-label-inner-wrapper {
    margin-top: 1px;
    overflow-y: hidden;
    height: $font1;
    @include for-size(md) {
      height: auto;
    }
    .page-label-inner-inner {
      display: block;
      transition: transform .5s;
      -webkit-transition: transform .5s;
    }
  }
  &.hidden {
    .page-label-inner-inner {
      transform: translateY( calc(-1 * #{$font1}) );
      //opacity: 0;
      //-webkit-opacity: 0;
    }
  }
}

.logged-in {
  .site-header {
    #header-content {
      top: 32px;
    }
  }
}

.becker-divider-section {
  overflow: hidden;
  .becker-divider {
    margin: -.75em -2.5em 0;
    .divider-line {
      margin: 0;
      opacity: 0;
      transform: translateY(2rem);
      transition: opacity .2s linear, transform .2s linear;
      svg {
        width: 100%;
        height: auto;
        display: block;
      }
      &:nth-child(2) {
        transition-delay: .2s;
      }
      &:nth-child(3) {
        transition-delay: .4s;
      }
      &:nth-child(4) {
        transition-delay: .6s;
      }
      &:nth-child(5) {
        transition-delay: .8s;
      }
    }
    &.animated {
      .divider-line {
        transform: translateY(0);
        &:nth-child(1) {
          opacity: 1;
        }
        &:nth-child(2) {
          opacity: .8;
        }
        &:nth-child(3) {
          opacity: .6;
        }
        &:nth-child(4) {
          opacity: .4;
        }
        &:nth-child(5) {
          opacity: .2;
        }
      }
    }
  }
}

.home {
  #home-header {
    padding: $space2 0;
    border-bottom: 3px solid white;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    .content {
      overflow: hidden;
      padding-top: $space-3;
      padding-bottom: $space-3;
    }
    @include for-size(md) {
      padding: $space3 0;
    }
    h2 {
      font-size: $acumin6;
      margin: 0 0;
      line-height: .8;
      font-weight: 900;
      @include for-size(sm) {
        font-size: 12rem;
      }
      @include for-size(md) {
        font-size: 13rem;
      }
      @include for-size(lg) {
        font-size: 11rem;
      }
      @include for-size(xl) {
        font-size: 11rem;
      }
      @include for-size(xxl) {
        font-size: $acumin9;
      }
      &:first-of-type {
        margin-bottom: 2rem;
      }
    }
    .scroll-indicator {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 4rem;
      left: 0;
      right: 0;
      padding: 2rem 0 0;
      animation-name: arrowBounce;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-duration: .8s;
      pointer-events: none;
      @include for-size(md) {
        bottom: 0;
      }
      .scroll-indicator-button {
        padding: 2rem;
        transform: rotate(90deg);
        pointer-events: auto;
        cursor: pointer;
        left: -1px;
        position: relative;
      }
      svg {
        //transform: rotate(90deg);
        width: 1.2rem;
        height: auto;
        display: block;
      }
    }
  }

  #what-we-do {
    .col-6 {
      padding: $space2 0 $space1;
    }
    .service-link {
      display: block;
      width: 6rem;
      height: 6rem;
      margin: 5rem auto 0;
      border-radius: 50%;
      border: 1px solid white;
      background-image: url('../images/ui/arrow.svg');
      background-size: 1rem;
      background-position: center;
      background-repeat: no-repeat;
    }
    @include for-size(lg) {
      #services-mobile {
        display: none;
      }
    }
    .service-label {
      span {
        font-size: $font5;
        color: white;
        opacity: .5;
        text-transform: uppercase;
        font-family: $mtgrotesqueextracond;
        transition: all .2s linear;
        display: inline-block;
        line-height: 1.4;
        &:hover {
          transform: scale(1.05);
          opacity: 1;
        }
      }
    }
    .service-container {
      .services-slide-content {
        text-transform: uppercase;
        font-size: $font3;
        line-height: 1.2;
        padding: $space-1 0;
        font-family: $mtgrotesqueextracond;
        display: none;
      }
      .service-label {
        span {
          font-size: $font4;
        }
      }
      .service-link {
        margin: $space-1 0;
      }
      &.is-active {
        .service-label {
          span {
            opacity: 1;
          }
        }
      }
    }
    #services-home-nav-container {
      @include for-size(lg) {
        border-right: 3px solid white;
      }
      #services-home-nav {
        display: none;
        @include for-size(lg) {
          display: block;
        }
        ul {
          list-style-type: none;
          padding: $space-1 0 0;
          margin: 0;
          li {
            padding: 0 0;
            cursor: pointer;
            &.slick-active {
              span {
                opacity: 1;
                &:hover {
                  transform: scale(1);
                }
              }
            }
          }
        }
      }
    }
    #services-info-section {
      display: none;
      @include for-size(lg) {
        display: block;
      }
    }
    #services-slider, .slick-list, .slick-track, .slick-slide, .services-slide {
      height: 100%;
    }
    #services-slider {
      .slick-slide {
        text-transform: uppercase;
        font-size: 4.5em;
        line-height: 1;
        text-align: center;
        padding: $space2;
        @include for-size(md) {
          padding: $space2 0 $space2 $space3;
        }
        font-family: $mtgrotesqueextracond;
        > div {
          height: 100%;
        }
      }
    }
  }
}

#our-leaders {
  background-color: $orange-extra-light;
  .home & {
    @include for-size(phone-only) {
      display: none;
    }
  }
  .leaders-header {
    font-size: $acumin4;
    font-family: $acuminprocond;
    font-weight: 900;
    text-align: center;
    margin-bottom: $space3;
    :not(.home) & {
      @include for-size(phone-only) {
        margin-top: $space4;
        margin-bottom: $space2;
      }
    }
  }
  .row {
    margin: 0 -2em;
  }
  .leader {
    padding: $space-2 $space2;
    @include for-size(sm) {
      padding: $space-1 $space2;
      width: 50%;
    }
    @include for-size(lg) {
      width: 25%;
    }
    .leader-image-wrapper {
      position: relative;
      .leader-image {
        padding-bottom: 100%;
        position: relative;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .leader-info {
      margin-top: -.5em;
      z-index: 2;
      position: relative;
      a {
        color: $orange-light;
        &.becker-tel {
          color: $black;
        }
      }
      p {
        line-height: 160%;
      }
      .leader-name {
        font-family: $mtgrotesqueextracond;
        font-size: $font4;
        line-height: .8;
        margin: 0;
        font-weight: 400;
        margin-bottom: $space-1;
        a {
          color: $black;
        }
        span {
          font-family: $acuminprocond;
          display: block;
          font-weight: 900;
          font-size: 1.1em;
          @include for-size(sm) {
            font-size: $acumin4;
          }
        }
      }
      p {
        margin: 0;
      }
    }
  }
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-10px);
  }
  66% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

#testimonials-section {
  overflow: hidden;
  background-color: $orange-extra-light;
  #testimonial-header {
    margin: 0 -.5em;
    svg {
      width: 100%;
      height: auto;
      display: block;
    }
    &.is-active {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .testimonials-slider-wrapper {
    height: $space12;
    display: flex;
    position: relative;
    width: 100vw;
    align-items: center;
    #testimonials-slider-container {
      position: relative;
      width: 100%;
      transform: translateY(5rem);
      transition: opacity .6s linear, transform .6s linear;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      &::before, &::after {
        display: inline-block;
        content: ' ';
        background-image: url('../images/quote.svg');
        background-size: cover;
        height: $space2;
        width: $space2;
        position: absolute;
        top: 30%;
        @include for-size(sm) {
          height: $space4;
          width: $space4;
        }
      }
      &::after {
        transform: scaleX(-1);
        right: 0px;
      }
      &.is-active {
        opacity: 1;
        transform: translateY(0);
      }
      #testimonials-slider {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        @include for-size(phone-only) {
          //height: auto;
          //margin-top: $space3;
        }
        .testimonial-slide {
          .testimonial-quote {
            text-align: center;
            font-size: $font1;
            font-weight: 300;
            @include for-size(sm) {
              font-size: $font2;
            }
          }
          .testimonial-author {
            display: flex;
            margin: $space-1 auto;
            position: relative;
            justify-content: center;
            align-items: center;
            .testimonial-author-image {
              width: $space2;
              height: $space2;
              border-radius: 50%;
              position: relative;
              overflow: hidden;
              margin-right: $space-1;
              img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                object-position: center;
              }
            }
            span {
              font-size: $acumin2;
              color: $orange-light;
              font-family: $acuminprocond;
              font-weight: 300;
            }
          }
          .testimonial-company {
            text-align: center;
            text-transform: uppercase;
          }
        }
        .slick-dots {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 1rem 0;
          list-style-type: none;
          position: absolute;
          bottom: $space-3;
          margin: auto;
          width: 100%;
          li {
            margin: 0 0.5rem;
          }
          button {
            display: block;
            width: $space-5;
            height: $space-5;
            padding: 0;
            border: none;
            border-radius: 100%;
            background-color: $black;
            text-indent: -9999px;
            opacity: .2;
          }
          li.slick-active button {
            opacity: 1;
          }
        }
      }
      #becker-arrows {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}

#home-audit-form-section {
  overflow-x: hidden;
  .content {
    padding: 0;
    margin: 0;
    max-width: none;
  }
  .row {
    flex-direction: column-reverse;
    @include for-size(md) {
      flex-direction: row;
    }
  }
  .form-left {
    background-color: $orange;
    padding: $space1!important;
    margin: initial!important;
    font-size: $font7;
    text-align: center;
    text-transform: uppercase!important;
    font-weight: 700!important;
    font-family: "acumin-pro-condensed", sans-serif!important;
    line-height: 1!important;
    color: #ffffff!important;
    @include for-size(lg) {
      padding: $space3!important;
      display: flex;
      align-items: center;
      text-align: left;
      justify-content: center;
      font-size: $font6;
    }
    br {
      display: none;
      @include for-size(lg) {
        display: block;
      }
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $space-2;
    padding-bottom: $space2;
    .big-text {
      @include for-size(md) {
      //  margin-top: calc(-1 * #{$space3});
      }
    }
    .caldera-grid {
      padding: 0;
    }
    input[type="submit"] {
      //background-color: #282827;
      border: 1px solid #282827;
      color: #282827;
      float: right;
      margin-top: $space1;
      padding: $space-3 $space1;
      display: flex;
      text-align: center;
      background: white;
      &:hover, &:focus {
        //background: transparent;
        outline: none;
        background: white;
      }
    }
    .caldera-grid {
      margin: auto;
    }
  }
}

@keyframes jiggle1 {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }
  10% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
  20% {
    transform: rotate(-1.2deg);
    animation-timing-function: ease-out;
  }
  30% {
    transform: rotate(1.6deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotate(-1deg) scale(1.05);
    animation-timing-function: ease-out;

  }
  50% {
    transform: rotate(0) scale(1);
  }
}

.becker-form {
  position: relative;
  h2 {
    font-size: $font6;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $acuminprocond;
    line-height: 1;
  }
  .form-left {
    padding: $space-1 0;
  }
  .form-title {
    svg {
      width: 100%;
      height: auto;
    }
    display: block;
    opacity: 1;
    &.jiggle {
      margin: 0 4px $space2 4px;
      animation-name: jiggle1;
      animation-iteration-count: 1;
      animation-duration: .8s;
      animation-delay: .5s;
      transform-origin: 50% 50%;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    background-color: $orange!important;
  }
  input[type="text"], input[type="email"], input[type="tel"] {
    border: 0;
    box-shadow: none;
    padding: $space-2 $space-3 $space1 0;
    background-color: transparent;
    border-bottom: 1px dashed #979797;
    font-size: $font2;
    font-family: $acuminprocond;
    font-weight: 500;
    &.parsley-success, &.parsley-error {
      background-color: transparent;
      color: $black;
      border-color: #979797;
    }
    &.parsley-error {
      border-color: red;
    }
    &::placeholder {
      color: $black;
    }
    &:focus {
      border: none;
      box-shadow: none;
      border-bottom: 3px dashed #979797;
      background-color: transparent!important;
    }
  }
  input[type=submit] {
    text-transform: uppercase;
    font-family: monotype-grotesque,sans-serif;
    font-weight: 600;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 1.5996rem 1.5996rem 1.5996rem 0;
    background-color: transparent;
    color: #000;
  }
  &#audit-form-section {
    .form-left {
      text-align: center;
      @include for-size(md) {
        padding-top: 0!important;
      }
      h2 {
        justify-content: center;
        align-items: center;
        display: inline-flex;
        font-size: $font8;
        position: relative;
        span.asterisk {
          font-size: $font3;
          font-weight: 200;
          top: calc(50% - 3rem);
          right: -3rem;
          position: absolute;
        }
        span.header-percent {
          font-weight: 200;
          font-size: $font4;
          font-family: $mtgrotesquecond;
          margin-left: $space-2;
        }
      }
      h4 {
        font-size: $font5;
        font-weight: 300;
        line-height: 1;
        width: 90%;
        margin: $space1 auto;
      }
    }
  }
}





// Footer

footer.site-footer {
  padding: $space3 0 $space5;
  background-color: #282827;
  color: white;
  position: relative;
  @include for-size(sm) {
    padding: $space7 0 $space7;
  }
  .email-link {
    color: white;
    text-decoration: underline;
    margin-top: $space3;
    @include for-size(lg) {
      margin-top: $space-1;
    }
  }
  #becker-locations {
    padding: 0;
    @include for-size(md) {
      padding: 0 1em;
    }
    .becker-location {
      margin-bottom: $space1;
      width: 50%;
      padding-left: 0px;
      @include for-size(lg) {
        margin-bottom: 0;
        width: calc((100% / 12) * 4);
        padding-left: auto;
      }
      .phone {
        margin-top: calc(-1 * #{$space-2});
      }
    }
    h6 {
      font-family: $acuminprocond;
      font-size: $acumin-2;
      font-weight: 700;
    }
  }
  #footer-nav {
    margin-top: $space1;
    padding:0px;
    @include for-size(sm) {
      margin-top: 0px;
    }
    .menu-main-menu-container {
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        column-count: 2;
        li {
          a {
            text-transform: uppercase;
            color: white;
            opacity: .5;
            font-family: $mtgrotesquecond;
            font-size: $font-1;
            font-weight: 200;
            letter-spacing: 1.95px;
            margin-bottom: $space-4;
            display: inline-block;
          }
        }
      }
    }
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  from {
    transform: translate3d(-100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slamLeft {
  &:not(.children) {
    animation-name: slamLeft;
  }
  &.children {
    opacity: 1;
    > * {
      animation-name: slamLeft;
      animation-duration: .4s;
      animation-fill-mode: both;
      opacity: 0;
      &.delay-1s {
        animation-delay: .7s;
      }
    }
  }
}

@keyframes slamLeft {
  0% {
    opacity: 1;
    transform: translateX(-100%) skew(35deg);
  }

  30% {
    opacity: 1;
    transform: translateX(5%) skew(-6deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) skew(0);
  }
}

.caldera-grid {
  width: 100%;
  margin: 0 auto 0 auto;
  .alert-success {
    background-color: transparent!important;
    color: black!important;
    font-size: $font3;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $mtgrotesqueextracond;
    text-align: center;
    -webkit-animation: heartBeat 1s;
    animation: heartBeat 1s;
    text-shadow: none!important;
  }
  @include for-size(md) {
    width: 80%;
  }
  @include for-size(lg) {
    padding: $space3 0 $space1;
    margin: 0 auto 0 20%;
  }
  .single {
    width: 100%;
  }
  .has-error {
    .form-control {
      &:focus {
        box-shadow: none;
        border-color: red;
      }
    }
  }
}
input[type="submit"] {
  text-transform: uppercase;
  font-family: $mtgrotesque;
  font-weight: 600;
  appearance: none;
  border: none;
  padding: $space-2 $space-2 $space-2 0;
  background-color: transparent;
  color: black;
  &:hover {
    background-color: transparent;
  }
  &:focus {
    background-color: transparent;
    outline: none;
    color: black;
  }
}

.button-404-wrapper {
  padding-bottom: $space2;
  .button-404-container {
    border: 2px solid black;
    transition: all .25s linear;
    display: inline-block;
    margin: $space1 auto;
    .button-404 {
      display: block;
      position: relative;
      transition: all .25s linear;
    }
    &:hover {
      a {
        transform: scale(1.5);
      }
    }
  }
}
