// Services

.page-template-services {
  background-color: white;
  .page-label {
    @include for-size(md) {
      display: none;
    }
  }
  h1 {
    font-size: $font5;
    color: #fff;
    line-height: 1;
    @include for-size(md) {
      font-size: $font9;
    }
  }
}
#services-menu-container {
  padding: $space1 $space1;
  background-color: #fffaf8;
  display: none;
  @include for-size(lg) {
    display: block;
  }
  #services-menu {
    position: sticky;
    top: $space3;
    a {
      display: block;
      font-size: $font-2;
      font-weight: 600;
      color: $black;
      opacity: .5;
      padding: $space-4 0;
      transition: opacity .2s linear;
      &.is-active {
        opacity: 1;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

#services-content {
  .content {
    overflow: visible;
  }
}
#services {
  background-color: white;
  padding: $space1 0;
  @include for-size(md) {
    padding: $space1 $space2;
  }
  .service {
    padding: $space1 $space1;
    @include for-size(md) {
      padding: 0;
      padding-bottom: $space1;
    }
    h2 {
      font-weight: 900;
      font-size: $font4;
      @include for-size(md) {
        font-size: $font7;
      }
    }
    h3 {
      font-size: $font3;
      @include for-size(md) {
        font-size: $font4;
      }
    }
    &:not(:first-of-type) {
      padding: $space1 0;
      padding: $space1 $space1;
      @include for-size(md) {
        padding: 0;
        padding-bottom: $space1;
      }
    }
    &:not(:last-of-type) {
      border-bottom: 4px solid #f6f3ee;
    }
    .services-desc {
      line-height: 1.4;
      margin: 0;
      margin-bottom: $space1;
    }
    .service-detail {
      margin-bottom: $space1;
      @include for-size(md) {
        padding-left: $space1;
      }
      .detail-checkbox {
        margin-right: $space-2;
        svg {
          width: $space1;
          height: auto;
          position: relative;
          g {
            width: $space1;
            height: auto;
          }
          path#checkbox-check {
            opacity: 0;
            transform: scale(5);
            transform-origin: center;
            transition: all 800ms cubic-bezier(0.070, 1, 0.755, 0.985); /* custom */
            transition-timing-function: cubic-bezier(0.070, 1, 0.755, 0.985); /* custom */
          }
        }
        &.is-active {
          svg {
            path#checkbox-check {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
      }
    }
    .service-badge {
      @include for-size(md) {
        padding-left: $space1;
      }
      img {
        max-width: 10rem;
      }
    }
  }
}
