
// Team

.page-template-team-bios {
  .becker-back-button {
    border: 1px solid $gray-dark;
    svg g{
      fill: $gray-dark;
    }
  }
  .scroll-indicator {
    width: 50%;
    height: auto;
    display: none;
    border-top: 1px solid #F58D4A;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $orange;
    padding: $space-4 0;
    cursor: pointer;
    @include for-size(md) {
      display: flex;
    }
    svg {
      width: $space-4;
      height: auto;
      transform: rotate(90deg);
      opacity: .75;
      -webkit-opacity: .75;
    }
    &:hover svg{
      opacity: 1!important;
      -webkit-opacity: 1!important;
    }
  }
}

#leaders-slider-module {
  opacity: 0;
  transition: opacity .3s linear;
  &.active {
    opacity: 1;
  }
  @include for-size(md) {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  @include for-size(md) {
    .header-bg {
      position: absolute;
    }
  }
}


.leader-slide {
  position: relative;
  height: 100%;
  .header-bg {
    max-height: 100%;
    position: relative;
    background-color: black;
    @include for-size(md) {
      position: absolute;
      width: 100vw;
    }
    .content {
      max-height: 100%;
    }
  }
  .leader-header-content {
    background-color: $orange;
    @include for-size(md) {
      max-height: 100%;
      overflow: auto;
      padding-top: $space4;
      background-color: transparent;
      //padding-bottom: $space3;
    }

    .leader-header-title {
      transform: translateX(-100%);
      div {
        padding-left: $space-5;
        h1 {
          font-family: $mtgrotesqueextracond;
          line-height: .9;
          margin: 0;
          font-weight: 200;
          font-size: $font6;
          @include for-size(sm) {
            font-size: $font7;
          }
          @include for-size(md) {
            font-size: $font9;
          }
          span {
            font-family: $acuminprocond;
            font-size: $acumin7;
            display: block;
            font-weight: 900;
            margin-top: -1.6rem;
            @include for-size(md) {
              line-height: .78;
              font-size: $acumin9;
              margin-top: -1.6rem;
            }
          }
          &.smaller-font {
            span {
              font-size: $acumin6;
              @include for-size(sm) {
                font-size: $acumin7;
              }
              @include for-size(md) {
                font-size: $acumin8;
              }
            }
          }
        }
      }
    }
    .leader-bio {
      .col-6 {
        padding-right: $space2;
        @include for-size(md) {
          width: 50%;
        }
      }
    }
    .leader-detail {
      margin-bottom: $space-2;
      display: flex;
      align-items: center;
      img {
        margin-right: $space-1;
        width: 15px;
        height: auto;
      }
      p {
        font-size: $font1;
        font-weight: 200;
        line-height: 1
      }
    }
    .leader-desc {
      font-weight: 200;
      font-size: $font-1;
      p {
        line-height: 1.5;
      }
    }
  }
}

#leaders-slider-container {
  position: relative;
  height: auto;
  overflow: hidden;
  @include for-size(md) {
    //max-height: calc(100vh - 8rem);
  }
  #leaders-slider {
    max-height: 100%;
    height: 100%;
    position: relative;
    .slick-list, .slick-track {
      max-height: 100%;
      height: 100%;
    }
    .slick-slide.slick-current {
      .leader-slide {
        .header-bg {
          background-color: $gray-extra-light;
          height: $space11;
          @include for-size(md) {
            height: 100%;
            background-color: transparent;
          }
          .col-6:first-child {
            @include for-size(md) {
              background-color: $orange;
              width: 50%;
            }
          }
          .header-bg-image {
            height: calc(#{$space11} - #{$space4});
            background-color: $gray-extra-light;
            position: absolute;
            bottom: 0px;
            @include for-size(sm) {
              overflow-x: hidden;
            }
            @include for-size(md) {
              height: 100%;
              padding: 0;
              position: relative;
              bottom: 0;
              width: 50%;
            }
              svg {
                width: 100vw;
                height: auto;
                margin: auto;
                bottom: 0;
                top: auto;
                @include for-size(sm) {
                  //width: 80%;
                  //height: auto;
                  height: 100%;
                  width: 100%;
                }
                @include for-size(md) {
                  width: 120%;
                  height: auto;
                  bottom: 0;
                  left: -10%;
                }
                @include for-size(lg) {
                  //height: 90%;
                  width: 100%;
                  left: auto;
                }
            }
          }
        }
        .leader-header-content {
          overflow: auto;
          scroll-behavior: smooth;
          padding-top: $space2;
          @include for-size(sm) {
            padding-top: 0px;
          }
          .content {
            max-width: none;
            @include for-size(sm) {
              margin-top: $space3;
            }
          }
          .leader-label {
            position: relative;
            margin-bottom: $space-1;
            padding-left: $space-3;
            @include for-size(md) {
              padding-left: 0;
            }
          }
          .leader-header-title.active {
            transform: translateX(0);
            transition: all 200ms ease-in-out;
            transition-delay: .5s;
          }
        }
      }
    }
  }
}

#leaders-nav {
  .slick-dots {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    margin: 0 -1px;
    display: flex;
    flex-wrap: wrap;
    @include for-size(md) {
      justify-content: stretch;
      //height: 8rem;
    }
    li {
      flex: 1;
      cursor: pointer;
      padding: $space-3 $space-4;
      opacity: .33;
      -webkit-opacity: .33;
      transition: opacity .5s ease-in-out;
      -webkit-transition: opacity .5s ease-in-out;
      display: inline-block;
      width: calc(100% / 3);
      min-width: calc(100% / 3);
      @include for-size(md) {
        padding: $space-3 $space-4 $space-3 $space-3;
        display: block;
        width: auto;
        min-width: calc( 100% / 6 );
      }
      @include for-size(xl) {
        min-width: calc( 100% / 6 );
      }
      > div {
        display: flex;
        align-items: center;
        height: 100%;
      }
      .inner-wrapper {
        display: flex;
        align-items: center;
      }
      @include for-size(md) {
        display: flex;
        justify-content: left;
        align-items: center;
      }
      border-right: 1px solid $black;
      border-bottom: 1px solid $black;
      &.slick-active {
        border-right: 1px solid #ada9a8;
        border-bottom: 1px solid #ada9a8;
      }
      &.slick-active {
        opacity: 1;
        -webkit-opacity: 1;
        .orange-dot {
          opacity: 1;
          -webkit-opacity: 1;
        }
      }
      p {
        font-size: $acumin-2;
        line-height: 1;
        margin-top: 0px;
        color: #979797;
        font-weight: 600;
      }
    }
  }
}
.leaders-nav-scroll-indicator {
  width: $space2;
  background-color: #282827;
  background-image: url('../images/ui/arrow-down.svg');
  background-repeat: repeat-y;
  background-position: center;
  background-size: 50%;
  -webkit-animation: backgroundScroll 15s linear infinite;
   -webkit-animation-fill-mode: forwards;
   animation: backgroundScroll 15s linear infinite;
   animation-fill-mode: forwards;
   display: none;
   @include for-size(md) {
     display: block;
     width: $space3;
   }
   @include for-size(lg) {
     width: $space2;
   }
}
@keyframes backgroundScroll {
    from {background-position: center 0;}
    to {background-position: center 180px;}
}
@webkit-keyframes backgroundScroll {
    from {background-position: center 0;}
    to {background-position: center 180px;}
}
.leaders-nav-container {
  display: flex;
}
.nav-scroll {
  width: 100%;
  height: 100%;
  display: block;
}

.leader-details {
  padding-top: 0;
  margin: $space1 0;
    @include for-size(sm) {
      margin: $space2 0;
    }
  a {
    color: $black;
  }
  .leader-bio {
    margin-top: $space1;
  }
}



.header-bg-image {
  .becker-loader {
    position: relative;
    width: 100%;
    height: 100%;
    svg {
      stroke: $orange;
      width: $space8!important;
      height: $space8!important;
      position: relative!important;
      margin: auto;
      top: 0px!important;
      @include for-size(sm) {
        top: -40px!important;
      }
    }
  }
}

.page-template-team-bios {
  .slick-track {
    display: flex;
  }
  .slick-track .slick-slide {
    display: flex;
    height: auto;
  }
}
