@mixin for-size($range) {
  $sm: 480px;
  $md: 768px;
  $lg: 1024px;
  $xl: 1400px;
  $xxl: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$sm - 1}) { @content; }
  } @else if $range == sm {
    @media (min-width: $sm) { @content; }
  } @else if $range == md {
    @media (min-width: $md) { @content; }
  } @else if $range == lg {
    @media (min-width: $lg) { @content; }
  } @else if $range == xl {
    @media (min-width: $xl) { @content; }
  } @else if $range == xxl {
    @media (min-width: $xxl) { @content; }
  }
}

$fontMultiplier: 1;
// Text Sizes https://www.modularscale.com/?9.541&pt&1.333
$font-3: calc(.563rem * #{$fontMultiplier}); //5.3px
$font-2: calc(.75rem * #{$fontMultiplier}); //7.15px
$font-1: calc(1rem * #{$fontMultiplier}); //9.54px
$font1: calc(1.333rem * #{$fontMultiplier}); //12.718px BASE SIZE
$font2: calc(1.777rem * #{$fontMultiplier}); //16.9px
$font3: calc(2.369rem * #{$fontMultiplier}); //22.59px
$font4: calc(3.157rem * #{$fontMultiplier}); //30.124px
$font5: calc(4.209rem * #{$fontMultiplier}); //40.155px
$font6: calc(5.61rem * #{$fontMultiplier}); //53.527px
$font7: calc(7.478rem * #{$fontMultiplier}); //71.352px
$font8: calc(9.96rem * #{$fontMultiplier}); //95.112px
$font9: calc(13.288rem * #{$fontMultiplier}); //126.7px

$acuminMultiplier: 1.2;
// Text Sizes https://www.modularscale.com/?9.541&pt&1.333
$acumin-3: calc(.563rem * #{$acuminMultiplier}); //5.3px
$acumin-2: calc(.75rem * #{$acuminMultiplier}); //7.15px
$acumin-1: calc(1rem * #{$acuminMultiplier}); //9.54px
$acumin1: calc(1.333rem * #{$acuminMultiplier}); //12.718px BASE SIZE
$acumin2: calc(1.777rem * #{$acuminMultiplier}); //16.9px
$acumin3: calc(2.369rem * #{$acuminMultiplier}); //22.59px
$acumin4: calc(3.157rem * #{$acuminMultiplier}); //30.124px
$acumin5: calc(4.209rem * #{$acuminMultiplier}); //40.155px
$acumin6: calc(5.61rem * #{$acuminMultiplier}); //53.527px
$acumin7: calc(7.478rem * #{$acuminMultiplier}); //71.352px
$acumin8: calc(9.96rem * #{$acuminMultiplier}); //95.112px
$acumin9: calc(13.288rem * #{$acuminMultiplier}); //126.7px

// Space Sizes https://www.modularscale.com/?9.541&pt&1.333
$multiple: 1.2;
$space-5: calc(.563rem * #{$multiple}); //5.3px
$space-4: calc(.75rem * #{$multiple}); //7.15px
$space-3: calc(1rem * #{$multiple}); //9.54px
$space-2: calc(1.333rem * #{$multiple}); //12.718px
$space-1: calc(1.777rem * #{$multiple}); //16.9px
$space1: calc(2.369rem * #{$multiple}); //22.5px GRID GAP
$space2: calc(3.157rem * #{$multiple}); //30.124px
$space3: calc(4.209rem * #{$multiple}); //40.155px MEDIUM SPACE
$space4: calc(5.61rem * #{$multiple}); //53.523px
$space5: calc(7.478rem * #{$multiple}); //71.352px LARGE SPACE + HEIGHT OF IMAGE (project landing)
$space6: calc(7.993rem * #{$multiple}); //95.112px
$space7: calc(9.96rem * #{$multiple}); //249.139px HEIGHT OF IMAGE (gallery)
$space8: calc(13.288rem * #{$multiple}); //126.7px
$space9: calc(17.713rem * #{$multiple}); //169px
$space10: calc(23.612rem * #{$multiple}); //225px
$space11: calc(31.475rem * #{$multiple}); //300px
$space12: calc(41.956rem * #{$multiple}); //400px
$space13: calc(55.927rem * #{$multiple}); //533px

$orange: #f37223;
$orange-light: #eb713a;
$orange-extra-light: #FEF8F3;
$off-white: #FFFAF7;
$black: #080505;
$gray-light: #979797;
$gray-extra-light: #F8F7F8;
$gray-dark: #282827;

$acuminprocond: "acumin-pro-condensed",sans-serif;
$mtgrotesque: "monotype-grotesque",sans-serif;
$mtgrotesquecond: "monotype-grotesque-condensed",sans-serif;
$mtgrotesqueextracond: "monotype-grotesque-extra-con",sans-serif;
